@model IEnumerable<B2BTI.Domain.Entity.Scenery> 
@{
    ViewBag.Title = "SceneryList";
}

<h2>SceneryList</h2>
<div>
    @foreach (var item in Model)
    {
        //<p>@item.Place.PlaceName</p>
        <p>@item.SceneryName</p>        
    }
</div>

