*
{
padding:0;
margin:0;
vertical-align: top;
}
a
{
text-decoration:none;
}
h1, h2, h3, h4, h5, h6
{
font-size:1.0em;
font-weight:normal;
}
body
{
color: #404040;
font:81.3% "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
line-height:1.4;
}
#wrapper
{
position:relative;
width:100%;
min-height:100%;
background:none repeat scroll center top #f9f9f6;
}
header
{
position:absolute;
top:0;
width:100%;
min-height:60px;
background-color:rgba(255,255,255,0.9);
box-shadow:0 3px 0 rgba(0,0,0,0.25);
z-index:1000;
}

.inner
{
width:940px;
margin:0 auto;
}
#logo
{
float:left;
margin-top:8px;
width:120px;
height:36px;
}
#logo #over
{
color:#f77b22;
font-size:xx-large;
font-weight:bold;
}
#globalmenu
{
position:relative;
display:table;
float:right;
height:60px;
}
#globalmenu li
{
display:table-cell;
vertical-align:middle;
border-left:solid 1px #e0e0e0;
}
#rightborder{border-right:solid 1px #e0e0e0;}
#globalmenu  li.basicmenu
{
width:109px;
text-align:center;
}
#globalmenu li.basicmenu a
{
display:table-cell;
width:109px;
height:60px;
color:#404040;
text-align:center;
vertical-align:middle;
font-size:130%;
}

.pull-left a
{
color:#404040;
}
.pull-right a
{
color:#404040;
}
#home
{
height:1000px;
}
.carousel-inner
{position:relative;
width:100%;
overflow:hidden;
height:430px;

}

