@model B2BTI.Domain.Entity.Place
@{
    ViewBag.Title = "AddPlace";
    B2BTI.Domain.Entity.Route r = ViewData["RouteInfo"] as B2BTI.Domain.Entity.Route;
}

<h2>AddPlace</h2>

@using(Html.BeginForm("AddPlace","RouteCenter",FormMethod.Post)){
    @Html.EditorForModel()
    <input type="submit" value="Add!" />
}
