<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="B2BTIDbContext" connectionString="Data Source=LILO-PC\SQLEXPRESS;Initial Catalog=B2BTI_DB;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>